.form-container {
    background: white;
    padding: 25px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    margin-top: 20px;
}

.input-group {
    margin-bottom: 25px;
}

.input-group:last-child {
    margin-bottom: 0;
}
